.search-img {
  margin: 0 auto;
  text-align: center;
  background-color: #6eb5b1;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .search-form {
    padding: 10px 10px;
  }
}

.gallery {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.photo-card {
  text-align: center;
  box-shadow: rgb(90, 126, 105) 0px 1px 4px;
  overflow: hidden;

  &__cover {
    height: 300px;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
  }
}

.info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 10px;
  &-item {
    display: flex;
    flex-direction: column;
    color: #6eb5b1;
  }
}

.btn-wrapper {
  text-align: center;
}

.load-more {
  padding: 15px;
  border: 2px solid #5a6464;
  border-radius: 4px;
  color: #6eb5b1;
  cursor: pointer;
}

.load-more.is-hidden {
  display: none;
}
