.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
  input {
    padding: 15px;
    border: 2px solid #5a6464;
    border-radius: 4px;
    color: #6eb5b1;
    background-color: #ffffff;
  }
  input::placeholder {
    color: #6eb5b1;
  }
  .button {
    border: 0;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-image: url('https://png.pngtree.com/png-vector/20210307/ourlarge/pngtree-magnifying-glass-vector-design-png-image_3014771.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  
    &:hover,
    &:focus {
      border: 1px solid #6eb5b1;
    }
  }
}
